body {
    display: flex;
    height: 100vh;
    align-items: center;
    background-color: beige;
}

.container {
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    width: 500px;
    text-align: center;
}

.form-group {
    text-align: left;
}
