html {
    font-family: 'Roboto Mono', monospace;
}
h1 {
    text-align: center;
    padding: 50px;
}

.container {
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20%, auto));
    text-align: center;
    
}

.item {
    border: solid 2px black;
    margin:5px;
    text-align: center;
}

.clicked{
    background-color : gray;
    color : white;
}

#info {
    text-align: center;
    padding : 45px;
    font-size: large;
}

a{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 160px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #ccc;
  }
  a:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #ff005e;
    color: #fff;
    transition: 0.5s;
    transform-origin: bottom;
    transform: translatey(-100%) rotatex(90deg);
  }
  a:hover:before
  {
    transform: translatey(0) rotatex(0deg);
  }
  
  a:after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #ea004f;
    color: #fff;
    transition: 0.5s;
    transform-origin: top;
    transform: translatey(0) rotatex(0deg);
  }
  a:hover:after
  {
    transform: translatey(100%) rotatex(90deg);
  }